{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "styles/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "styles/main.css"%}">
    <title> >> MySocial </title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url "index" %}"> {{ perfil_logado.nome }} </a></li>
                <li><a href="#"> Encerrar </a></li>
            </ul>

            <h3 class="text-muted">MySocial Connections</h3>
        </div>

        <div class="row content">
            {% block body %}

            {% endblock %}
            <p class="imgcenter">
                <img src="{% static "img/MySocialLogoSmall.png" %}" width="230" height="70">
            </p>
            <p class="imgcenter" style="font-size: 8px">
                Sua Rede de Conexões Sociais - copyright 2018<br>
                Desenvolvedor: Erisvaldo Correia
            </p>
        </div>
    </div>
</body>
</html>
